@charset "utf-8";
/* CSS Document */

/* _____________________ menu-left ____________________________*/
#sun_nav { position:relative; margin: 0px; padding: 0px; clear: both; float: left; width: 100%; z-index: 0; }
#menuL { margin:0px; padding: 0px; width: 100%; }

.treeview { list-style: none; margin: 0px; padding: 0px; }
.treeview ul {list-style: none; margin: 0px; padding: 0px;  }
* html .hitarea { float: none; display: inline; }
.treeview a.selected { }

.treeview .hitarea { width: 16px; height: 16px; float: right; cursor: pointer; margin-top: 6px; background-image: url(minus.gif); background-repeat: no-repeat; background-position: 4px center; z-index: 10; display: block; position: relative; background-color: #D9D9D9; border: 1px solid #FFF; margin-right: 5px; margin-left: -25px; }/*展開中*/
.treeview .hitarea:hover { background-image: url(minus1.gif); }/*展開中*/

.treeview .expandable-hitarea { background-position: 4px 4px; background-image: url(plus.png); background-repeat: no-repeat; z-index: 10; background-color: #DDD; border: 1px solid #D5D5D5; } /*展開提示*/
.treeview .expandable-hitarea:hover { background-image: url(plus1.gif); } /*展開提示*/

/*連結文字色*/
.sun_navigation{ width: 250px; clear: both; display: block; padding: 0px; float: left; list-style-image: none; list-style-type: none; }
.sun_navigation *{ list-style-image: none; list-style-type: none; margin: 0px; padding: 0px; }
.treeview li { margin: 0px; display: block; font-size: 13px; cursor: pointer; clear: both; float: left; width: 100%; padding: 0px; position: relative; list-style-image: none; list-style-type: none; border-top-width: 1px; border-top-style: solid; border-top-color: #B6B6B6; }
.treeview li span{ color: #333; padding-left: 28px; text-decoration: none; margin: 0px; background-repeat: no-repeat; background-position: 16px 15px; padding-top: 10px; padding-right: 25px; padding-bottom: 8px; display: block; }
.treeview li a{ color: #333; padding-left: 28px; text-decoration: none; margin: 0px; background-image: url(last_icon.png); background-repeat: no-repeat; background-position: 16px 15px; padding-top: 10px; padding-right: 25px; padding-bottom: 8px; display: block; }
.treeview li span a{ color: #333; margin: 0px; padding: 0px; background-image: none; background-repeat: no-repeat; }

.treeview li:hover { background-color: #333;color: #FFF; }
.treeview li a:hover { background-color: #333;color: #FFF; cursor: pointer; }

.treeview li.contact_us a{ color: #77b800; }
.treeview li.contact_us a:hover{ color: #FC0; }

/*第二層*/
.treeview li ul { margin: 0px; padding: 0px; float: left; clear: both; width: 100%; }
.treeview li ul li{ border-top-width: 1px; border-top-style: solid; border-top-color: #ADADAD; cursor: pointer; margin: 0px; padding: 0px; clear: both; float: left; width: 100%; list-style-image: none; list-style-type: none; border-bottom-width: 0px; }
.treeview li ul li a{ background-position: 24px 15px; margin: 0px; float: left; width: 75%; padding-top: 10px; padding-right: 10%; padding-bottom: 8px; padding-left: 15%; }
.treeview li ul li a:link{ color: #333; }
.treeview li ul li a:visited{ color: #333; }
.treeview li ul li span{ color: #333;background-position: 24px 15px; margin: 0px; float: left; width: 75%; padding-top: 10px; padding-right: 10%; padding-bottom: 8px; padding-left: 15%; }
.treeview li ul li span a{ color: #333;margin: 0px; padding: 0px; background-image: none; background-repeat: no-repeat;  }

.treeview li ul li:hover {background-color: #C8C8C8; color: #333;}
.treeview li ul li a:hover { background-color: #C8C8C8; color: #333; cursor: pointer; }

/*第三層*/
.treeview li ul li ul{ margin: 0px; padding: 0px;float: left; clear: both; width: 100%;}
.treeview li ul li ul li{ cursor: pointer; border-top-width: 1px; border-top-style: solid; border-top-color: #919191; cursor: pointer; margin: 0px; padding: 0px; clear: both; float: left; width: 100%;}
.treeview li ul li ul li a{ background-image: url(expandable_icon_lv3.png);background-position: 32px 15px; margin: 0px; float: left; width: 70%; padding-top: 10px; padding-right: 10%; padding-bottom: 8px; padding-left: 20%; }
.treeview li ul li ul li a:link{ color: #333; }
.treeview li ul li ul li a:visited{ color: #333; }
.treeview li ul li ul li span{ color: #333; background-position: 32px 15px; margin: 0px; float: left; width: 70%; padding-top: 10px; padding-right: 10%; padding-bottom: 8px; padding-left: 20%; }
.treeview li ul li ul li span a{ color: #333; margin: 0px; padding: 0px; background-image: none; background-repeat: no-repeat; }

.treeview li ul li ul li:hover {background-color: #ACACAC; color: #333;}
.treeview li ul li ul li a:hover { background-color: #ACACAC; color: #333; cursor: pointer; }

/*第一層*/
.treeview li.collapsable{ border-bottom-width: 0px; border-bottom-style: none; background-color: #333; color: #FFF; }/*展開中區塊*/
.treeview li.expandable{ background-color: #FFF; }/*未展開中區塊*/
.treeview li{ background-color: #FFF; }
.treeview li.collapsable span{ background-image: url(collapsable_icon_lv1.png); background-repeat: no-repeat; background-position: 16px 15px; color: #FFF; }/*展開中區塊*/
.treeview li.expandable span{ background-image: url(expandable_icon_lv3.png); background-repeat: no-repeat;  background-position: 16px 15px; color: #333;}/*未展開中區塊*/
.treeview li.collapsable span a{ background-image: none; background-repeat: no-repeat;  color: #FFF;}/*展開中區塊*/
.treeview li.expandable span a{ background-image: none; background-repeat: no-repeat;color: #333; }/*未展開中區塊*/

.treeview li:hover.expandable{background-color: #333;color: #FFF;}
.treeview li:hover.expandable span{background-color: #333;color: #FFF;}
.treeview li:hover.expandable span a{background-color: #333;color: #FFF;}

/*第二層*/
.treeview li ul li.collapsable{ background-color: #C8C8C8; }
.treeview li ul li.expandable{ background-color: #E1E1E1; }
.treeview li ul li{ background-color: #E1E1E1; }
.treeview li ul li.collapsable span{ background-image: url(collapsable_icon_lv3.png);background-position: 24px 14px; color: #333;}
.treeview li ul li.expandable span{background-image: url(expandable_icon_lv3.png); background-position: 24px 14px;  }
.treeview li ul li.collapsable span a{ background-image: none; background-repeat: no-repeat;color: #333;  }/*展開中區塊*/
.treeview li ul li.expandable span a{ background-image: none; background-repeat: no-repeat;}/*未展開中區塊*/

.treeview li ul li:hover.expandable{background-color: #C8C8C8;color: #333;}
.treeview li ul li:hover.expandable span{background-color: #C8C8C8;color: #333;}
.treeview li ul li:hover.expandable span a{background-color: #C8C8C8;color: #333;}

/*第三層*/
.treeview li ul li ul li.collapsable{ background-color: #C8C8C8; }
.treeview li ul li ul li.expandable{ background-color: #ACACAC; }
.treeview li ul li ul li{ background-color: #B9B9B9; }
.treeview li ul li ul li.collapsable span{background-image: url(collapsable_icon_lv3.png); background-position: 32px 14px;color: #333; }
.treeview li ul li ul li.expandable span{background-image: url(expandable_icon_lv3.png); background-position: 32px 14px; }
.treeview li ul li ul li.collapsable span a{ background-image: none; background-repeat: no-repeat; color: #333; }/*展開中區塊*/
.treeview li ul li ul li.expandable span a{ background-image: none; background-repeat: no-repeat; }/*未展開中區塊*/

.treeview li ul li ul li:hover.expandable{background-color: #ACACAC;color: #333;}
.treeview li ul li ul li:hover.expandable span{background-color: #ACACAC;color: #333;}
.treeview li ul li ul li:hover.expandable span a{background-color: #ACACAC;color: #333;}


.menu_title{ background-image: url(menu_title_bg.jpg); background-repeat: repeat-y; background-position: left top; color: #FFF; padding-left: 12px; font-size: 13px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #2c4000; padding-top: 10px; margin: 0px; padding-right: 0px; padding-bottom: 5px; }
.treeview li.menu_home {background-image: url(menu_li_bg.jpg);  }
.treeview li.menu_home a { background-image: url(icon_home_24.png); background-position: 5px 8px; color: #FFF; }


#sun_nav footer { background-image: url(sun_nav_footer.png); background-repeat: no-repeat; background-position: left top; height: 75px; width: 250px; margin: 0px; padding: 0px; border-top-width: 1px; border-top-style: solid; border-top-color: #CCC; display: inline-block; clear: both; }
